<div class="section-layout {{ block.settings.layout}}">
  <div class="announcement">{{ block.settings.announcement_text }}</div>
  {% case block.settings.layout %}
    {% comment %}Start of Horizontal layout{% endcomment %}
  {% when 'horizontal' %}
    <div id='second-background-image' class="img-layout full">
      <div class="preheader_text">{{ block.settings.preheader_text}}</div>
      <div class="header_text">{{ block.settings.header_text}}</div>
      <div class="subheader_text">{{ block.settings.subheader_text}}</div>
      <div id="referral-link"></div>
      <div class="socials">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 24 24">
    <path d="M11.666,2.005C6.62,2.17,2.374,6.251,2.025,11.288c-0.369,5.329,3.442,9.832,8.481,10.589V14.65H8.892 c-0.726,0-1.314-0.588-1.314-1.314v0c0-0.726,0.588-1.314,1.314-1.314h1.613v-1.749c0-2.896,1.411-4.167,3.818-4.167 c0.357,0,0.662,0.008,0.921,0.021c0.636,0.031,1.129,0.561,1.129,1.198v0c0,0.663-0.537,1.2-1.2,1.2h-0.442 c-1.022,0-1.379,0.969-1.379,2.061v1.437h1.87c0.591,0,1.043,0.527,0.953,1.111l-0.108,0.701c-0.073,0.47-0.477,0.817-0.953,0.817 h-1.762v7.247C18.235,21.236,22,17.062,22,12C22,6.366,17.341,1.821,11.666,2.005z"></path>
</svg>
      </div>
    </div>
    <div class="gift-layout full">
      <div class="some-text">0 friends have joined! Invite friends to Join</div>
      <div class="timeline-group">
        <div class="timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="timeline">
          <div class="timeline-progress">&nbsp;</div>
          <div class="timeline-items">
            {% assign products = block.settings.product_list %}
            {% for p in products %}
              <div class="timeline-item-block">
                <div class="timeline-item" onmouseenter="mouseenter(this)" onmouseleave="mouseleave(this)">6<div class="timeline-item-detail" style="display: none;">Invite 6 friends to unlock this reward!</div>
                </div>
                <div class="timeline-item-name" onmouseenter="mouseenterproduct(this)" onmouseleave="mouseleaveproduct(this)">{{ block.settings.icon | image_url: width: 50 |image_tag }}
                  <div class="timeline-contain" style="display: none;">
                    <span>{{ p.title }}</span>
                    <span>{{ p.featured_image | image_url: width: 50 |image_tag }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% comment %}End of Horizontal layout{% endcomment %}
    {% comment %}Start of Vertical layout{% endcomment %}
  {% when 'vertical' %}
    <div id='second-background-image' class="img-layout half">
      <div class="hidden">this div is hidden</div>
    </div>
    <div class="gift-layout half spaced-evenly">
      <div class="vertical spaced">
        <div class="preheader_text">{{ block.settings.preheader_text}}</div>
        <div class="header_text">{{ block.settings.header_text}}</div>
        <div class="subheader_text">{{ block.settings.subheader_text}}</div>
        <div id="referral-link"></div>
        <div class="socials"></div>
      </div>
      <div class="spaced some-text">0 friends have joined! Invite friends to Join</div>
      <div class="vertical-timeline-headers">
        <div>Friends Joined</div>
        <div>Rewards</div>
      </div>

      <div class="spaced vertical-timeline">
        <div class="vertical-timeline-progress">&nbsp;</div>
        <div class="vertical-timeline-items">
          {% assign products = block.settings.product_list %}
          {% for p in products %}
            <div>
              <div class="vertical-timeline-item-block">
                <div class="vertical-timeline-item" onmouseenter="mouseenter(this)" onmouseleave="mouseleave(this)">6
                  <div class="vertical-timeline-item-detail" style="display: none;">Invite 6 friends to unlock this reward!</div>
                </div>
                <div class="vertical-timeline-item-name" onmouseenter="mouseenterproduct(this)" onmouseleave="mouseleaveproduct(this)">{{ block.settings.icon | image_url: width: 50 |image_tag }}
                  <div class="vertical-timeline-contain" style="display: none;">
                    <span>{{ p.title }}</span>
                    <span>{{ p.featured_image | image_url: width: 50 |image_tag }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endcase %}
  <div class="footer_text {% if block.settings.layout == 'vertical' %}right-side{% endif %}">
    {{ block.settings.footer_text }}</div>

</div>